.main {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  margin: auto;
}

.container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.headTitle {
  font-size: 36px;
  padding-bottom: 1rem;
}
.mainImage {
}

.attributes {
  display: flex;

  flex-direction: column;
  justify-content: center;
}
